*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
}

.nav{
    background-color: #301277;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding :0 1rem;
    width: 100%;
    height: 60px;
}

.site-title{
    font-size: 2rem;
    text-decoration: none
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap:3rem;
 
}


.nav li.active{
    
    background-color: #555;
    
}

.nav li:hover{
    background-color: green;
}

.home{
    text-decoration: none
}